<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850601885112-728uacub6pl2o6nlvpjrbddnsg85jrkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850601885112-728uacub6pl2o6nlvpjrbddnsg85jrkg</string>
	<key>API_KEY</key>
	<string>AIzaSyB-vwmDUc_8TLyszsLgwO5DzhqCIj1Q1Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>850601885112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthConnection</string>
	<key>PROJECT_ID</key>
	<string>auth-conneciton</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-conneciton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850601885112:ios:102894a9aff686b340634d</string>
</dict>
</plist>